In [ ]:
# lambda function>>anonymous function 
# syntax
# Lambda arguments:expression >> no need of return statements and define keyword

In [2]:
def square(x):
    return x**2

square(2)

4

In [5]:
sq_lambda=lambda x: x**2

In [6]:
sq_lambda(2)

4

In [13]:
add =lambda a,b: a+b
add(2,5)

7

In [14]:
add(3,2)

5

In [15]:
is_even=lambda x:x%2==0
is_even(6)

True

In [ ]:
x=["Python","java","c++","ruby","DataScience"]
sorted(x) # By default sorting based on alphabetical order

['DataScience', 'Python', 'c++', 'java', 'ruby']

In [1]:
x=["Python","java","c++","ruby","DataScience"]
le = lambda x: len(x)
print(le("Ajay"))

4

In [2]:
sorted(x,key=lambda x:len(x))

['c++', 'java', 'ruby', 'Python', 'DataScience']

In [3]:
fib=lambda n: n if n<=1 else fib(n-1)+(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 4, 7, 11, 16, 22, 29]

In [4]:
def fact_num(n):
    if n==0:
        return 1
    else:
        return n*fact_num(n-1)
    

fact_num(5)

120

In [6]:
fact_num=lambda n:1 if n==0 else n*fact_num(n-1)
fact_num(5)

120

In [8]:
# map>> executes a specified function for each item of an iterable.
# syntax >> map(fun,*iterables)

l=[1,2,3,4,5]
def square(l):
    sq=[]
    for i in l:
        sq.append(i**2)
    return sq

square(l)

[1, 4, 9, 16, 25]

In [12]:
def add(x):
    return x+10

list(map(add,l))

[11, 12, 13, 14, 15]

In [13]:
def sub(x):
    return x-10

list(map(sub,l))

[-9, -8, -7, -6, -5]

In [14]:
# using Lambda with map
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [15]:
list(map(lambda x:x+10,l))

[11, 12, 13, 14, 15]

In [16]:
l=["1","2","3"]
list(map(lambda x:int(x),l))

[1, 2, 3]

In [17]:
l1=[100,200,300,400]
l2=[1,2,3,4]
list(map(lambda x,y:x+y,l1,l2))

[101, 202, 303, 404]

In [18]:
s='pwskills'
list(map(lambda x:x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [19]:
words=["python","ajay"]
list(map(str.capitalize,words))

['Python', 'Ajay']

In [20]:
grades=["A","B","C","D"]
list(map(lambda grade : 4 if grade=="A" else (3 if grade=="B" else 2),grades))

[4, 3, 2, 2]

In [ ]:
# reduce>> folding/reduction
# syntax >> # reduce(func,iterable)
# reduce will always take two arguments function
from functools import reduce
l=[1,2,3,4,5]
reduce(lambda x,y:x+y,l)

15

In [23]:
from functools import reduce
l = [2, 1, 3, 4, 4, 5, 6]
result = reduce(lambda x, y: x + y, l)
print(result)

25

In [24]:
words=["Data","Science","courses"]
reduce(lambda x,y:x+""+y,words)

'DataSciencecourses'

In [25]:
numbers=[1,2,5,3,100,1000,6,10000]
reduce(lambda x,y:x if x>y else y,numbers)

10000

In [27]:
def factorila(n):
    return reduce(lambda x,y:x*y,range(1,n+1))

factorila(8)

40320

In [28]:
# Filter function >> it is used to filter elements from an iterable based on a function that tests each element to be true or false.
# syntax filter(function,iterable)

list(filter(lambda x:x%2==0,l))

[2, 4, 4, 6]

In [29]:
s=["Nikhil","Ajay","Deepak","Sanket"]
filter(lambda x:len(x)>4,s)

In [ ]:
def check_even(num):
    if num%2==0:
        return True
    else:
        return False
    
check_even(5)

False

: